*{
    margin: 0; 
    padding: 0;    
}
body{
   background-color: black;
}
h1{}
.container{
    border: 2px solid black;
    padding: 10px;
    width: 80vw;
    margin: 2% auto;
}
.banner{
       display: flex;
       justify-content: space-between;
       align-items: center;
}
.ola{
     display: flex;
     align-content: center;
}
.oi{
    display: flex;
    justify-content: space-between;
    float: right;
}
.menu{
    margin-top: 25px;
    display:flex;
    max-width: 500px; 
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}
a{
    color:#0000cc;
    background: rgba(255,255,255,0.4);
    padding: 10px;
}
.text1{
    border: 2px solid black;
    padding: 10px;
    width: 80vw;
    margin: 2% auto;
    align-items: center;
}
.carousel{
    border: 2px solid black;
    padding: 10px;
    width: 50vw;
    margin: 2% auto;

}
.evento{
    border: 2px solid black;
    padding: 10px;
    width: 80vw;
    margin: 2% auto;
}
.espaco{
    border: 2px solid black;
    padding: 10px;
    width: 80vw;
    margin: 2% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.text2{
    border: 2px solid black;
    padding: 10px;
    width: 80vw;
    margin: 2% auto;
    align-items: center;
}
