@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
*{
    margin: 0; 
    padding: 0;    
}

a{
    text-decoration: none;
    font-size: 20px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    color: white;
}

img{
    padding-left: 30px;
    border-radius: 5px;
}

.logo{
    float: left;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    margin-left: -25px;
}

body{
    background-image: url(../imagem/ponte.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #000;
    
}

.container1{
    padding: 10px;
    width: 100%;
    margin: 0%;
    background-color: #000;
 }
 input[type="search"]{
     width: 100%;
 }
.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    box-sizing: border-box;
}

.menu{
    display: flex;
    align-content: center;
    margin-bottom: 25px;
    margin-left: 25%;
    box-sizing: border-box;
    padding-left: 10px;
}

.menu2{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 30px;
    margin-left: 30%
}

.btn11{
    margin: 5px;
    display: inline-block;
}

.menu3{
    display:flex;
    max-width: 910px; 
    justify-content: space-around;
    text-decoration: none;
    margin: 0 auto;
    color: #DCDCDC;
    margin-top: -17px;
    margin-bottom: -5px;
    margin-bottom: -5px;
}

.aa:hover{
    transform: translateY(-4px);
    box-shadow: rgba(0, 0, 0, 0.2);   
}

.sec{
    width: 80vw;
    background-color: #e6f3ff;
    margin: 0% auto;
    letter-spacing: 0.05em;
    border-radius: 10px;
}

.btn11{
    width: 100px;
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    font-family: Comic Sans MS, Comic Sans, cursive;
    margin-left: -100px;
    
} 
.btn11:hover{
    transform: translateY(-3px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.btn111{
    width: 100px;
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    font-family: Comic Sans MS, Comic Sans, cursive;
	
} 
.btn111:hover{
    transform: translateY(-3px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.search{
    width: 250px;
    height: 30px;
    border-radius: 5px;
}

.pesquisar{
    width: 100px;
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}
    
.txt{
    font-family: Verdana;
    font-size: 140%;
    font-family: Comic Sans MS, Comic Sans, cursive;
    line-height: 40px;
}
.tx{
   line-height: 15px; 
   font-family: arial;
}

.txt1{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 120%;
    font-family: Comic Sans MS, Comic Sans, cursive;  
}

.carousel{
    width: 80vw;
    height: 690px;
    margin: 0 auto;
    animation: slide 10s infinite;
    animation-direction: alternate;
}

@keyframes slide{
    0%, 30% {
    background-image: url(../imagem/fvs.png);
    background-size: 100%;
    background-repeat: no-repeat;    
  }
    35%, 65% {
    background-image: url(../imagem/planetario11.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
    70%, 100% {
    background-image: url(../imagem/festate.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

.title{
    text-align: center;
    font-size: 40px;    
    font-family: Comic Sans MS, Comic Sans, cursive;
    background-color: #222;
    color: white;
}

.evw{
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.evw .car{
    width: 330px;
    height: 450px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    text-align: center;
    transition: all 0.1s;
    margin: 35px;
}

.evw .car:hover{
    transform: translateY(-1px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    
}

.evw .car img{
    width: 300px;
    height: 260px;
    margin-top: 10px;
    margin-left: -30px;   
}

.evw .car h4{
    font-weight: 600;
    font-size: 20px;
}

.evw .car p{
    padding: 0 1rem;
    font-size: 23px;
    font-weight: 300;
}

.evw .car a {
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

.evw .car h1{
    white-space: nowrap;
    overflow: hidden;
    background-color: orange;
    width: 100%;
}

.footer{
    height: 10%;
    background-color: #222;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.fr{
    float: left;
    color: #fff;
    padding: 5px;
    font-size: 20px;
    background-color: rgba(0,0,0,.5);
    border-radius: 10px;   
}

.frase{
    color: #fff;
    font-size: 20px;
    
}
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    
}
ul li{
    float: left;
    width: 160px;
    color: #fff;
    
}
ul li a{
  text-decoration: none;
  color: white;
  display: block;
  font-size: 15px;
  margin-left: 0px;
  
}
ul li ul li{
    display: none;
   
}
ul li:hover ul li{
   display: block;
   
}

.teste1{
    font-size: 15px;
    margin-right: 0px;
    margin-left:-100px;
}

.haha{
    background-color: #000;
    color: #fff;
    border: none;
    font-family: Comic Sans MS, Comic Sans, cursive;  
    font-size: 15px;
    margin-right: 50px;
}
.hehe{
    margin-left: 100%;
}
.campo12{
    width: 450px;
    height: 100px;
    margin-left: 5px;
    border-radius: 5px;
}
.campo13{
     border-radius: 2px;
}
.dropada{
    margin-left:-100px;
}
