*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #222;
    border-radius: 20px;
}

.logo{
    width: 120px;
    height: 110px;
    border-radius: 10px;
}

body{
    background-image: url(./imagem/ponte.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #000;
    font-family: Verdana;
    font-size: 100%;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.container{
    margin: auto;
    width: 1200px;
    margin-top: 20px;
    padding: 10px;  
}

nav{
    width: 300px;
    height: 595px;
    background-color: #e6f3ff;
    font-size: 20px;
    float: left;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 20px;
}

.top{
    margin-top: 20px;
    background-color: #000;
    border-radius: 8px;
    color: #fff;
}

section{
    width: 800px;
    height: 595px;
    margin-left: 10px;
    float: left;
    background-color: #e6f3ff;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;  
}

ul.menu{
    list-style-type: none;
}
ul.menu li {
    width: 250px;
    height: 50px;
    line-height: 50px;
    background-color: #000;
    color: #fff;
    margin-top: 5px;
    box-sizing: border-box;
    padding-left: 10px;
    border-radius: 10px;
}

.btn{
    width: 150px;
    height: 35px;
    border: 1px solid #ddd;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

.campo {
    width: 300px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: Comic Sans MS, Comic Sans, cursive;
}

a:hover{
    background:#777;
    box-shadow: 1px 1px 80px #fff inset;
    color: #777;
}

a:active{background:#ddd;
         color:#ddd;
}

li:hover{
    background:#fff;
    box-shadow: 2px 2px 13px #fff inset, -2px -2px 5px #fff inset;
    color: #fff;
}


